body{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    background-color: black;
    color: rgb(255, 0, 0);
    padding: 50px;
    margin: 30px;
    justify-content: center;
}

#caixa-fort{
   background-color: aqua;
   padding: 40px;
   margin: 40px;
}